
*.ipch
*.vsidx
*.lock
*.db
*.ini
.vs/OOP/v17/.suo
*.log
*.tlog
*.pdb
*.idb
x64
.vs
*.zip
PDC/PDC_Ass_1/multiUN.en.tgz
*.vscode
PDC/PDC_Ass_1/PDC-ass1
PDC/PDC_Ass_1/test
PDC/PDC_Ass_1/un



PDC/PDC_Ass_2/home_1
PDC/PDC_Ass_2/home/storage/*.vie
PDC/PDC_Ass_2/home/storage/datasets


PDC/PDC_Ass_3/dataset
PDC/PDC_Ass_3/dataset2
PDC/PDC_Ass_3/dataset3
PDC/PDC_Ass_3/output
PDC/PDC_Ass_3/build
PDC/PDC_Ass_3/Submission/build/CMakeFiles
